.user{
    background-color: #fff;
    min-width: 212px;
    height: 112px;
    margin: 60px 37px 60px 0;
    text-align: center;
    position: relative;		
}
.user-avatar{
    border-radius: 50%;
    background-color: #ccc;
    width: 80px;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translate(65px, -40px);
}
.user-name{
    width: 100%;
    font-size: 18px;
    color: #E93939;
    position: absolute;
    top: 50px;
}
.delete-user{
    font-size: 14px;
    color: #007FA3;
    position: absolute;
    top: 88px;
    left: 10px;
    cursor: pointer;
}